.about{
    padding: 120px 0;
    @media screen and (max-width: 501px) {
        padding: 60px 0;
    }
    &-row{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    &-title{
        max-width: 860px;
        font-size: 30px;
        line-height: 48px;
        font-weight: 400;
        color: #141024;

        @media screen and (max-width: 501px) {
            font-size: 18px;
        }

        span{
            font-size: 32px;
            font-weight: bold;

            @media screen and (max-width: 501px) {
                font-size: 20px;
            }
        }
    }
    &-cards{
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 501px) {
            display: flex;
            flex-direction: column;
            text-align: center;
            row-gap: 20px;
        }
    }
    &-card{
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 501px) {
            align-items: center;
        }

        &__title{
            font-size: 70px;
            font-weight: 600;
            line-height: 112px;
            color: #D52027;

            @media screen and (max-width: 501px) {
                font-size: 60px;
            }
        }
        &__subtitle{
            width: 260px;
            font-size: 18px;
            font-weight: 400;
            line-height: 28.8px;
            color: #141024b3;

            @media screen and (max-width: 501px) {
               font-size: 16px;
            }
        }
    }
}