.oshkole{
    padding: 50px 0 0 0;
    background-color: #141024;
    @media screen and (max-width: 501px) {
        padding: 50px 0 30px 0;
    }
    @media screen and (max-width: 420px) {
        padding: 50px 0 70px 0;
    }

    &-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 501px) {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
    &-content{
        h2{
            margin-bottom: 20px;
            font-size: 70px;
            font-weight: 600;
            line-height: 112px;
            color: #fff;
            font-family: 'Jost';
            @media screen and (max-width: 501px) {
                font-size: 30px;
                margin: 0;
            }
        }
        p{
            margin-bottom: 40px;
            max-width: 485px;
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;
            color: #fff;
            @media screen and (max-width: 501px) {
                font-size: 16px;
            }
        }
        button{
            padding: 25px 50px;
            border-radius: 6px;
            border: 3px solid transparent;
            background-color: #D52027;
            transition: all 0.2s ease-in-out;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            color: #fff;
            font-family: 'Jost';

            @media screen and (max-width: 501px) {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 750px;
                right: 15px;
                left: 15px;
            }

            &:hover{
                background-color: #fff;
                border: 3px solid #D52027;
                color: #D52027;
            }
        }
    }
    &-img{
        width: 560px;
        height: 656px;
        @media screen and (max-width: 501px) {
            width: 410px;
            height: 480px;
        }
        @media screen and (max-width: 420px) {
            width: 380px;
            height: 430px;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
}